agora-token-builder==1.0.0
asgiref==3.3.4
backports.entry-points-selectable==1.1.0
beautifulsoup4==4.10.0
bs4==0.0.1
certifi==2021.10.8
charset-normalizer==2.0.12
distlib==0.3.2
Django==3.2.1
django-cors-headers==3.10.0
djangorestframework==3.12.4
filelock==3.0.12
idna==3.3
importlib-metadata==4.6.3
Pillow==8.3.1
platformdirs==2.2.0
pytz==2021.1
requests==2.27.1
six==1.16.0
soupsieve==2.3.1
sqlparse==0.4.1
typing-extensions==3.10.0.0
urllib3==1.26.8
virtualenv==20.7.2
zipp==3.5.0
